<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.shsxt.crm.dao.CusdevPlanMapper" >
  <resultMap id="BaseResultMap" type="com.shsxt.crm.po.CusdevPlan" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="sale_chance_id" property="saleChanceId" jdbcType="INTEGER" />
    <result column="plan_item" property="planItem" jdbcType="VARCHAR" />
    <result column="plan_date" property="planDate" jdbcType="TIMESTAMP" />
    <result column="exe_affect" property="exeAffect" jdbcType="VARCHAR" />
    <result column="create_date" property="createDate" jdbcType="TIMESTAMP" />
    <result column="update_date" property="updateDate" jdbcType="TIMESTAMP" />
    <result column="is_valid" property="isValid" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, sale_chance_id, plan_item, plan_date, exe_affect, create_date, update_date, is_valid
  </sql>
  <select id="queryById" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select
    <include refid="Base_Column_List" />
    from t_cus_dev_plan
    where id = #{id,jdbcType=INTEGER}
  </select>
  <insert id="save" parameterType="com.shsxt.crm.po.CusdevPlan" >
    insert into t_cus_dev_plan
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="saleChanceId != null" >
        sale_chance_id,
      </if>
      <if test="planItem != null" >
        plan_item,
      </if>
      <if test="planDate != null" >
        plan_date,
      </if>
      <if test="exeAffect != null" >
        exe_affect,
      </if>
      <if test="createDate != null" >
        create_date,
      </if>
      <if test="updateDate != null" >
        update_date,
      </if>
      <if test="isValid != null" >
        is_valid,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="saleChanceId != null" >
        #{saleChanceId,jdbcType=INTEGER},
      </if>
      <if test="planItem != null" >
        #{planItem,jdbcType=VARCHAR},
      </if>
      <if test="planDate != null" >
        #{planDate,jdbcType=TIMESTAMP},
      </if>
      <if test="exeAffect != null" >
        #{exeAffect,jdbcType=VARCHAR},
      </if>
      <if test="createDate != null" >
        #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="updateDate != null" >
        #{updateDate,jdbcType=TIMESTAMP},
      </if>
      <if test="isValid != null" >
        #{isValid,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="update" parameterType="com.shsxt.crm.po.CusdevPlan" >
    update t_cus_dev_plan
    <set >
      <if test="saleChanceId != null" >
        sale_chance_id = #{saleChanceId,jdbcType=INTEGER},
      </if>
      <if test="planItem != null" >
        plan_item = #{planItem,jdbcType=VARCHAR},
      </if>
      <if test="planDate != null" >
        plan_date = #{planDate,jdbcType=TIMESTAMP},
      </if>
      <if test="exeAffect != null" >
        exe_affect = #{exeAffect,jdbcType=VARCHAR},
      </if>
      <if test="createDate != null" >
        create_date = #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="updateDate != null" >
        update_date = #{updateDate,jdbcType=TIMESTAMP},
      </if>
      <if test="isValid != null" >
        is_valid = #{isValid,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>

  <!-- 多条件查询 -->
  <select id="queryByParams" resultMap="BaseResultMap" parameterType="cusdevPlanQuery" >
    select
    <include refid="Base_Column_List" />
    from t_cus_dev_plan
    where is_valid=1 and sale_chance_id=#{sid}
  </select>
  <!--批量删除-->
  <update id="deleteBatch">
    UPDATE t_cus_dev_plan SET is_valid = 0 WHERE id IN (
        <foreach collection="array" item="item" separator=",">
            #{item}
        </foreach>
    )
  </update>
</mapper>