<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.shsxt.crm.dao.UserMapper" >

    <sql id="base">
      id,user_name as userName,user_pwd as userPwd,true_name as trueName,
      email,phone,is_valid as isValid,create_date as createDate,update_date as updateDate
    </sql>
    <!-- 通过用户名查询用户 -->
    <select id="queryUserByName" parameterType="string" resultType="user">
        SELECT <include refid="base"/>
        FROM t_user WHERE is_valid = 1 AND user_name=#{userName}
    </select>

    <select id="queryById" parameterType="int" resultType="user">
        SELECT <include refid="base"/>
        FROM t_user WHERE is_valid = 1 AND id=#{id}
    </select>

    <!-- 更新用户密码 -->
    <update id="updateUserPwd">
        UPDATE t_user SET user_pwd=#{userPwd} where id=#{id}
    </update>

    <!-- 查询所有的客户经理 -->
    <select id="queryCustomerMamagers" resultType="map">
        SELECT
        u.user_name AS trueName,
        u.id
        FROM
        t_user AS u
        LEFT JOIN t_user_role AS ur ON ur.user_id = u.id
        LEFT JOIN t_role AS r ON r.id = ur.role_id
        WHERE
        u.is_valid = 1 AND
        r.role_name = '客户经理'
    </select>

    <resultMap id="BaseResultMap" type="userDto" >
        <id column="id" property="id" jdbcType="INTEGER" />
        <result column="user_name" property="userName" jdbcType="VARCHAR" />
        <result column="user_pwd" property="userPwd" jdbcType="VARCHAR" />
        <result column="true_name" property="trueName" jdbcType="VARCHAR" />
        <result column="email" property="email" jdbcType="VARCHAR" />
        <result column="phone" property="phone" jdbcType="VARCHAR" />
        <result column="is_valid" property="isValid" jdbcType="INTEGER" />
        <result column="create_date" property="createDate" jdbcType="TIMESTAMP" />
        <result column="update_date" property="updateDate" jdbcType="TIMESTAMP" />
        <result column="role_name" property="roleName" jdbcType="VARCHAR" />
    </resultMap>
    <!-- 用户参数查询 -->
    <select id="queryByParams" parameterType="userQuery" resultMap="BaseResultMap">
        SELECT
        t_user.*,
        GROUP_CONCAT(t_role.role_name) as role_name
        FROM
        t_user
        LEFT JOIN t_user_role ON t_user_role.user_id = t_user.id
        LEFT JOIN t_role ON t_role.id = t_user_role.role_id
        <where>
            t_user.is_valid = 1
            <if test="null!=userName and ''!=userName">
                and user_name like concat('%',#{userName},'%')
            </if>
            <if test="null!=email and ''!=email">
                and email like concat('%',#{email},'%')
            </if>
            <if test="null!=phone and ''!=phone">
                and phone like concat('%',#{phone},'%')
            </if>
            GROUP BY t_user.id
        </where>
    </select>

</mapper>